{% extends 'april/base.html' %}

{% block header %}
    <title>Authors Page</title>
    {% load static %}
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    {% load static %}
    <link href="{% static 'css/authors.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
{% if len is not 0 %}
<div class="cont">
    <section id="apartment-dashboard">
        <form id="filter-form" action="#" method="get">
            <fieldset class="result">
                <legend class="res1">Results by author: {{len}} </legend>
                <legend class="res2" style="background-color: white; padding-top: 20px; padding-bottom: 20px">The author's Name is {{name}}, surname is {{lastname}}</legend>
            </fieldset>
        </form>
        <table align="center" class="css-serial">
            <tr>
                <th>№</th>
                <th class="apartment-cell">Name</th>
                <th class="owner-cell">ORCID</th>
                <th class="address-cell">Affiliation</th>
                <th class="added-cell">Country</th>

            </tr>
            <tr>
                {% for i in response_data %}
                            <tr>
                                <td></td>
                                <td><form method="post" action="publications/{{i.index}}" class="inline">
                                    {% csrf_token %}
                                    <input type="hidden" name="extra_submit_param" value="extra_submit_value">
                                    <button type="submit" name="submit_param" value="submit_value" class="link-button">
                                    {{i.name}} {{i.surname}}
                                </button></form></td>
                                <td><a href="https://orcid.org/{{i.orcidId}}">{{i.orcidId}}</a></td>
                                <td>{{i.affilation}}</td>
                                <td>{{i.country}}</td>
                            </tr>
                {% endfor %}
            </tr>
        </table>
    </section>

{% else %}
<div class="cont">
        <div class="authorResultsOptionBar">
            <div class="row">
                <div class="col-md-12 docResultsTitleBar">
                    <h1 class = "documentHeader"> Результатов по автору:<span class="resultsCount">{{len}} </span></h1>
                </div>
            </div>
            <div class="row">
                <div class="resultsQueryBar">
                    <h2 class="brand">
                        Фамилия автора: "
                        <span class="querySrchTerm">
                            <em>{{lastname}}</em>
                        </span>
                        ", Имя авторa: "
                        <span class="querySrchTerm">
                            <em>{{name}}</em>
                        </span>
                        "
                    </h2>
                </div>
            </div>
            <div class="row" style="border:1px red">
                <nav class="resultsQueryBar navbar">
                    <h2 class="search-feild">
                        Not found
                    </h2>
                </nav>
            </div>
        </div>
    </form>
{% endif %}
{% endblock %}

