@import 'https://fonts.googleapis.com/css?family=Kanit:300,600|Trirong:400,700';

html{
  font-family: Arial, sans-serif;
  font-size: 16px;
}

*{
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: var(--bs-body-color);
  text-align: var(--bs-body-text-align);
  background-color: var(--bs-body-bg);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background: url("../img/back02.jpeg") ;
   background-size: 100%
}
body{
  line-height: 1.5em;
}


article{
  max-width: 1465px;
  min-width: 280px;
  min-height: 600px;
  margin: 100px auto 30px;
  
  padding: 40px 40px 90px;
 
  /* font-family: 'Trirong', serif;  */
  display:flex;
  flex-direction: column;
}

h1, h2, h3, h4, h5{
/*   font-family: 'Kanit', sans-serif; */
}

h2{
  font-size:26px;
}

#profile-image{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  float: left;
}

#title{
  font-size: 36px;
  margin: 20px;
  font-weight: normal;
}

#description{
  font-size: 20px;
  margin: 20px 0 20px;
  color: #666;
  font-weight: normal;
}

#contact{
  list-style-type: none;

}

#contact li{
  padding-right: 10px
}

#contact li i.fa{
  background: #999;
  width:30px;
  height: 30px;
  color: #FFF;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
}

#contact li a{
  color: #333;
}

#contact li a:hover{
  text-decoration: none;
}

#contact li:hover .fa{
  background: #777;
}

.text{
  color: #424949;
  font-size: 1.5rem;
}
.tbl{
  margin-left: 450px;
}
section{
  padding-top: 20px;
}

section h2{
  border-bottom: 1px solid #999;
  padding-bottom: 5px;
}

section ul{
  padding-left: 24px;
}

#skills ul li h3{
  margin-bottom: 0;
}

#skills ul li p{
  margin-top: 5px;
}

#experiences ul li{
  position: relative;
  padding: 5px 0 10px;
}

#experiences ul li h3{
  margin: 0 0 10px;
}

#experiences ul li h4{
  margin: 0 0 10px;
  color: #666;
}

#experiences ul li h5{
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  font-style: italic;
}

#experiences ul li p{
  margin-top: 5px;
}

#education ul li h3{
  margin-bottom: 5px;
}

#education ul li p{
  margin-top: 0px;
}



@media screen and (max-width: 800px){
  #contact li{
    width: 50%;
    margin: 5px 0;
  }
}

@media screen and (max-width: 600px){
  article{
    padding: 15px;
  }
  
  #profile-image{
    float: none;
    margin: 0 auto 30px;
    display: block;
  }
  
  #title{
    text-align: center;
    font-size: 22px;
  }
  
  #description{
    font-size: 18px;
    text-align: center;
  }

  #experiences ul li h5{
    position: relative;
  }  
  
  #contact{
    flex-direction: column;
  }  
  
  #contact li{
    margin: 5px 0;
    width: 100%;
  }

}

.owner-cell{
  font-size: 1.25rem;

}
