@import 'https://fonts.googleapis.com/css?family=Kanit:300,600|Trirong:400,700';

html{
  font-family: Arial, sans-serif;
  font-size: 16px;
}

*{
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: var(--bs-body-color);
  text-align: var(--bs-body-text-align);
  background-color: var(--bs-body-bg);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background: url("../img/back02.jpeg") ;
   background-size: 100%
}
body{
  line-height: 1.5em;
}
.table{
  margin-top: 150px;
}

.inf{
  margin-left: 20px;
}
.buttons{
  margin-left: 20px;
}

.btn02{
  margin-top: 10px;
}

article{
  max-width: 940px;
  min-width: 280px;
  margin: 0px auto 30px;
  background: #FFF;
  padding: 40px 40px 60px;
  box-shadow: 0 2px 10px 1px rgba(0,0,0,0.3);
  /* font-family: 'Trirong', serif;  */
  display:flex;
  flex-direction: column;
}
td{
  padding-bottom: 40px;
}

h1, h2, h3, h4, h5, p{
  font-family: Arial, sans-serif;
  font-size: 13px;
}
.ptr{
  color:#777777;
}
.ptitle{
  color: black;
  font-size: 20px;
}
.ptitle:hover{
  color:pink;
}
.pyear{
  float: left;
  color: black;
}
.fcol{
  float: left;
  padding-right: 50px;
}
.pnumber{
  color:black;
}

#profile-image{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  float: left;
}

#titlea {
  font-size: 36px;
  margin: 20px;
  font-weight: normal;
}

.public{
  font-size: 2rem;
}
table td{
  vertical-align: top;
}
.css-serial {
    counter-reset: serial-number; /* Set the serial number counter to 0 */
}

.css-serial td:first-child:before {
    counter-increment: serial-number; /* Increment the serial number counter */
    content: counter(serial-number); /* Display the counter */
}

#description{
  font-size: 15px;
  margin: 20px 0 20px;
  color: #666;
  font-weight: normal;
}

#contact{
  list-style-type: none;
}

#contact li{
  padding-right: 10px
}

#contact li i.fa{
  background: #999;
  width:30px;
  height: 30px;
  color: #FFF;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
}

#contact li a{
  color: #333;
}

#contact li a:hover{
  text-decoration: none;
}
.btn-primary{
  color: white;
  text-decoration: none;
}
#contact li:hover .fa{
  background: #777;
}

table th{
  text-align: left;
  width: 20%;
  vertical-align: top;
}

section{
  padding-top: 20px;
}

section h2{
  border-bottom: 1px solid #999;
  padding-bottom: 5px;
}

section ul{
  padding-left: 24px;
}

#skills ul li h3{
  margin-bottom: 0;
}

#skills ul li p{
  margin-top: 5px;
}

#experiences ul li{
  position: relative;
  padding: 5px 0 10px;
}

#experiences ul li h3{
  margin: 0 0 10px;
}

#experiences ul li h4{
  margin: 0 0 10px;
  color: #666;
}

#experiences ul li h5{
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  font-style: italic;
}

#experiences ul li p{
  margin-top: 5px;
}

#education ul li h3{
  margin-bottom: 5px;
}

#education ul li p{
  margin-top: 0px;
}



@media screen and (max-width: 800px){
  #contact li{
    width: 50%;
    margin: 5px 0;
  }
}

@media screen and (max-width: 600px){
  article{
    padding: 15px;
  }
  
  #profile-image{
    float: none;
    margin: 0 auto 30px;
    display: block;
  }
  
  #titlea{
    text-align: center;
    font-size: 22px;
  }
  
  #description{
    font-size: 18px;
    text-align: center;
  }

  h2{
    font-size:22px;
  }  

  #experiences ul li h5{
    position: relative;
  }  
  
  #contact{
    flex-direction: column;
  }  
  
  #contact li{
    margin: 5px 0;
    width: 100%;
  }

}